@import url(https://fonts.googleapis.com/css?family=Philosopher:400,100,300,300italic,400italic,700,900);

/*
Template variables
*/
/* 
    Basics
*/
html, body {
    height: 100%;
}

body {
    font-family: "Philosopher", Arial, sans-serif;
    font-size: 1.7rem;
    line-height: 2.3rem;
    margin: 0;
    background-color: #fff;
    color: #949494;
    -webkit-font-smoothing: antialiased !important;
}

a, a:visited, a:link {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #209b60;
}

a:hover {
    color: #aeaeae;
}

button {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

button:focus {
    outline: 0 !important;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: 0 !important;
}

button:focus {
    outline: 0 !important;
}

.color_text {
    color: #209b60;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: "Philosopher", Arial, sans-serif;
    color: #fff;
}

blockquote {
    font-size: 13px;
}

blockquote h5 {
    margin-top: 10px;
    font-weight: 600;
    color: #209b60;
}

/**spaces**/
.space10 {
    height: 10px;
}

.space20 {
    height: 20px;
}

.space30 {
    height: 30px;
}

.space40 {
    height: 40px;
}

.space50 {
    height: 50px;
}

.space60 {
    height: 60px;
}

.space70 {
    height: 70px;
}

.space80 {
    height: 80px;
}

/**margins**/
.margin-btm-10 {
    margin-bottom: 10px;
}

.margin-btm-20 {
    margin-bottom: 20px;
}

.margin-btm-30 {
    margin-bottom: 30px;
}

.margin-btm-40 {
    margin-bottom: 40px;
}

.margin-btm-50 {
    margin-bottom: 50px;
}

hr {
    border-color: rgba(255, 255, 255, 0.1);
}

.overflow-hidden {
    overflow: hidden;
}

.separator {
    width: 60px;
    height: 3px;
    background: #209b60;
    margin: 40px auto;
    display: block;
}

/**preloader**/
.js div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("../images/loading.gif") no-repeat center center;
}

/**progress bars**/
.progress {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    background-color: #333;
    height: 25px;
}

.progress .progress-bar {
    background: #209b60;
    line-height: 25px;
    font-size: 15px;
}

/*
Buttons style
*/
.buttons a {
    margin: 5px;
}

.btn {
    border: 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.btn i {
    margin-left: 5px;
}

.btn-lg {
    padding: 12px 25px;
}

.btn-link {
    color: #209b60;
}

.btn-link:hover {
    color: #999;
}

.btn-default {
    background-color: #eee;
    color: #333;
}

.btn-default:hover {
    background-color: #209b60;
    color: #fff;
}

.btn-skin {
    background-color: #209b60;
    color: #fff;
}

.btn-skin:hover {
    background-color: #333;
    color: #fff;
}

.btn-dark {
    background-color: #333;
    color: #fff;
}

.btn-dark:hover {
    background-color: #209b60;
    color: #fff;
}

.btn-white {
    background-color: #fff;
    color: #333;
}

.btn-white:hover {
    background-color: #f3f3f3;
    color: #333;
}

.btn-border-dark {
    border: 2px solid #333;
    background-color: transparent;
    color: #333;
}

.btn-border-dark:hover {
    color: #fff;
    background-color: #333;
}

.btn-border-skin {
    border: 2px solid #209b60;
    background-color: transparent;
    color: #209b60;
}

.btn-border-skin:hover {
    color: #fff;
    background-color: #209b60;
}

.btn-border-white {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
}

.btn-border-white:hover {
    color: #333;
    background-color: #fff;
}

/* 
    Navbar css
*/
.navbar-inverse {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 10px 0;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-inverse.scrolled {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.navbar-inverse .navbar-nav > li > a {
    font-family: "Philosopher", Arial, sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 13px;
    letter-spacing: 0;
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #209b60;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-right .dropdown-menu {
        right: auto;
        left: auto;
    }
}

.navbar-brand > img {
    display: block;
    margin-top: 4px;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-toggle {
        border: 0;
    }

    .navbar-inverse .navbar-toggle:focus,
    .navbar-inverse .navbar-toggle:hover {
        background-color: transparent;
    }
}

.parallax-section {
    background: url("../images/bg-1.jpg") no-repeat;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.parallax-inner {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.parallax-inner .parallax-content {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.parallax-inner .parallax-content h1 {
    text-transform: capitalize;
    color: #fff;
    font-weight: 900;
    font-size: 80px;
}

.parallax-inner .parallax-content h2 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 100;
    font-size: 60px;
}

.parallax-inner .parallax-content .flexslider {
    margin: 0;
    border: 0;
    background: transparent;
}

/**about section**/
.about-section {
    padding: 100px 0;
    background: #222;
}

.about-section h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: 45px;
}

.about-section h1 span {
    color: #209b60;
    font-weight: 700;
}

/**portfolio section**/
.portfolio {
    padding: 100px 0 70px;
    background: #209b60;
}

.portfolio .separator {
    background-color: #fff;
}

.portfolio .col-sm-4 {
    padding: 0;
}

.folio-box {
    overflow: hidden;
    position: relative;
}

.folio-box img {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.folio-box:hover img {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.folio-desc {
    padding: 15px;
    color: #666;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.folio-desc h4 {
    text-transform: capitalize;
    margin-bottom: 0;
    color: #000;
}

.folio-desc p {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 13px;
}

.folio-desc h4 > a {
    color: #000;
}

.folio-desc p > a {
    color: #666;
}

.folio-desc h4 > a:hover,
.folio-desc p > a:hover {
    color: #aeaeae;
}

.projects-ref  h1  a {
    color: #fff;
}

.projects-ref  h1  a:hover {
    color: rgba(255, 255, 255, 0.4);
}

/**services**/
.services-section {
    padding: 100px 0 70px;
    background-color: #333;
}

.service-list li {
    padding: 15px;
}

.service-list i {
    float: left;
    display: block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 35px;
    color: #209b60;
}

.service-list .content {
    overflow: hidden;
}

.service-list .content h3 {
    font-size: 20px;
    text-transform: capitalize;
}

/**testimonials**/
.testimonials {
    padding: 100px 0;
    position: relative;
    background: url("../images/bg-2.jpg") no-repeat;
    background-size: cover;
}

.testimonials .flex-control-nav {
    width: 100%;
    left: 0;
}

.testimonials .flex-control-paging li a {
    width: 7px;
    height: 7px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    background-color: #aeaeae;
}

.testimonials .flex-control-paging li a.flex-active {
    background-color: #fff;
}

.testimonials .testi-slider p {
    font-size: 18px;
    line-height: 30px;
    font-style: italic;
    color: #fff;
}

.testimonials .testi-slider h5 {
    margin-top: 5px;
}

/**contact section**/
.contact-section {
    padding: 100px 0 70px;
    background: #222;
}

.contact-section .separator {
    background: #fff;
}

.contact-section .form-control {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    min-height: 45px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    color: #fff;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #fff;
}

p.help-block.help-block-error {
    font-size: 1.5rem;
}

.contact-section .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.4);
}

.contact-section .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.4);
}

.contact-section .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.4);
}

.contact-section .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.4);
}

.contact-section .form-control:focus {
    border-bottom-color: rgba(255, 255, 255, 0.8);
}

.has-error .form-control:focus {
    border-bottom-color: rgba(132, 53, 52, 0.8);
    box-shadow: none;
}

.contact-section ul li a {
    font-size: 30px;
}

.alert {
    position: relative;
}

.alert .close {
    opacity: 1;
    font-size: 20px;
}

.footer {
    background: #209b60;
    padding: 10px 0;
    color: #fff;
}

@media (max-width: 767px) {
    .parallax-inner .parallax-content h2 {
        font-size: 25px;
    }

    .parallax-inner .parallax-content h1 {
        font-size: 30px;
    }
}

/*# sourceMappingURL=style.css.map */
