@import url(https://fonts.googleapis.com/css?family=Philosopher:400,100,300,300italic,400italic,700,900);
html,
body {
    height: 100%;
    font-family: "Philosopher", Arial, sans-serif;
    font-size: 0.9rem;
}

.wrap {
    min-height: 100%;
    height: auto;
    /*margin: 0 auto -60px;*/
    /*padding: 0 0 60px;*/
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    /*height: 60px;*/
    /*background-color: #f5f5f5;*/
    /*border-top: 1px solid #ddd;*/
    /*padding-top: 20px;*/
    background-color: #209b60;
    padding: 10px 0;
    color: #fff;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    /*font-family: 'Glyphicons Halflings';*/
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.img-project {
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.project-name {
    text-align: center;
    margin: 10px 0;
}

.pagination {
    display: block;
    clear: left;
    padding-left: 15px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #209b60;
    border-color: #209b60;
}

.pagination > li > a,
.pagination > li > a:hover,
.pagination > li > span {
    color: #209b60;
}

a, a:hover, a:focus, a:visited, a:link {
    text-decoration: none;
}

a, a:visited, a:link {
    color: #209b60;
}

a:hover {
    color: #aeaeae;
}

.thumbnail a > img:hover {
    opacity: 0.8;
}

.empty {
    padding-left: 15px;
}

.btn-success {
    color: #fff;
}

.btn-success:hover {
    background-color: #aeaeae;
    border-color: #aeaeae;
}

.has-success .control-label,
.has-success .checkbox label {
    color: #209b60;
}

.btn-success,
.has-success .form-control {
    border-color: #209b60;
}

.btn-success,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover {
    background-color: #209b60;
}

.dropdown-menu > li > a:hover {
    color: #fff;
    background-color: #aeaeae;
}

.navbar-nav > li > .dropdown-menu {
    padding: 0;
}